{% extends "base.html" %} {% block title %}Privacy Policy - Observatory
Booking{% endblock %} {% block content %}
<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <div
    class="max-w-4xl mx-auto bg-white p-6 shadow-lg rounded-lg dark:bg-gray-800 dark:text-gray-100"
  >
    <div class="text-center">
      <h1 class="text-4xl font-extrabold text-gray-900 dark:text-gray-100">
        Privacy Policy
      </h1>
      <p class="mt-4 text-lg text-gray-700 dark:text-gray-300">
        Your privacy is important to us. Please review our privacy policy.
      </p>
    </div>

    <div class="mt-8 space-y-8 text-gray-900 dark:text-gray-100">
      <section>
        <h2 class="text-2xl font-semibold mt-8 mb-4">Introduction</h2>
        <p class="text-base leading-relaxed mb-6">
          Lorem ipsum odor amet, consectetuer adipiscing elit. Ornare purus
          fermentum ante nisi aliquet tortor sit. Primis turpis curabitur
          posuere fames; aenean posuere habitant cras. Et sed vulputate
          consequat ac sollicitudin id. Inceptos vestibulum turpis fermentum leo
          euismod velit condimentum laoreet. Mauris pulvinar inceptos metus dui
          pretium porta magnis curabitur. Mauris sit vulputate viverra posuere
          finibus magnis lacus tortor augue. In hendrerit lectus ullamcorper
          habitasse fermentum taciti posuere. Neque condimentum nullam feugiat
          penatibus justo diam, commodo ultricies velit. Urna dictum suspendisse
          fusce congue suspendisse dictumst arcu. Suscipit ridiculus cras
          nascetur maecenas pellentesque. Augue odio est pretium habitasse
          penatibus. Enim auctor torquent lectus tellus blandit. Quis habitasse
          semper faucibus himenaeos sociosqu aliquet commodo morbi. Mi tincidunt
          dui condimentum ad eget egestas duis a. Facilisi suscipit ante
          venenatis risus, class magna. Curabitur est elit lacus torquent tempor
          eleifend aenean cubilia ut. Euismod praesent dolor condimentum mollis
          dignissim sit suspendisse gravida facilisi. Ante cras scelerisque;
          posuere convallis lectus lobortis ipsum. Dui nullam eu per massa
          himenaeos semper. Litora sociosqu nam magna nunc nullam sodales
          suscipit morbi. Feugiat lorem dapibus maecenas auctor enim vestibulum
          pretium porta dictum. Suscipit vitae ex ligula augue elementum ac.
          Curabitur eros nibh faucibus elementum arcu penatibus. Lacus varius
          viverra iaculis placerat ultricies. Himenaeos hendrerit maecenas,
          dapibus sociosqu purus vehicula. Alacus sodales vel mus dolor urna
          aptent tempus consequat. Nostra blandit convallis sodales class montes
          justo. Maecenas sodales libero mollis pharetra laoreet sagittis libero
          amet mus. Vehicula maecenas imperdiet tellus porta interdum. Inceptos
          dapibus amet commodo litora et consectetur condimentum. Rhoncus platea
          finibus phasellus quisque orci litora in. Sollicitudin non class
          faucibus malesuada congue. Aliquet habitant platea ad; vulputate
          ligula suscipit posuere efficitur. Praesent lobortis montes dolor nunc
          viverra ornare tellus dis habitasse. Libero eros quis laoreet integer
          vulputate, enim curabitur himenaeos. Amet varius magnis tellus sem
          curabitur pretium. Netus placerat tortor pretium duis lacinia
          pellentesque vehicula parturient magna? Augue facilisi curae, inceptos
          a porttitor maecenas. Integer sit ultricies ornare condimentum purus
          ex et. Ridiculus turpis habitasse sem ad consequat dis aliquam ad.
          Imperdiet faucibus quis dapibus congue habitant pharetra elementum.
          Cubilia suscipit dis conubia arcu nibh; praesent ligula maximus
          ligula. Pretium eleifend sollicitudin dignissim penatibus, auctor duis
          egestas.
        </p>
      </section>
    </div>
  </div>
</div>
{% endblock %}
